/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  max-width: 880px;
  min-width: 300px;
  width: 95%;
  margin: 0 auto;
}
/* CSS variables and mixins */
.main-dimensions {
  width: 450px;
  height: 200px;
  margin: 20px 0 10px 0;
}
/* main-container nested css */
.main-container {
  width: 100%;
}
.main-container .static-nav {
  width: 100%;
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: flex-end;
  /* phone media query nav bar */
}
.main-container .static-nav nav {
  width: 40%;
  height: 15px;
  display: flex;
  justify-content: space-around;
}
.main-container .static-nav nav a {
  font-size: 1.6rem;
  text-decoration: none;
  color: darkgrey;
}
@media (max-width: 500px) {
  .main-container .static-nav {
    justify-content: center;
  }
  .main-container .static-nav nav {
    width: 100%;
    height: 140px;
    flex-direction: column;
  }
  .main-container .static-nav nav a {
    height: 60px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    border-bottom: solid 1px lightgrey;
  }
}
.main-container .introduction {
  width: 100%;
  height: 350px;
  background: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* placeholder values for picture */
  /* media query for phone */
}
.main-container .introduction .static-img {
  width: 25%;
  height: 50%;
  border: dashed 2px red;
  margin: 0px 20px 0px 20px;
}
.main-container .introduction .name {
  margin: 0px 20px 0px 20px;
}
.main-container .introduction .name h1 {
  font-size: 2.8rem;
  margin: 5px 0 10px 0;
}
.main-container .introduction .name p {
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.main-container .introduction .name button {
  width: 90px;
  height: 40px;
  background: grey;
  color: white;
  border: 2px solid grey;
  border-radius: 4px;
}
@media (max-width: 500px) {
  .main-container .introduction .static-img {
    display: none;
  }
}
.main-container .main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main-container .main-content .separation {
  display: flex;
  width: 100%;
  height: 300px;
  /* Phone View */
}
.main-container .main-content .separation .summary {
  width: 450px;
  height: 200px;
  margin: 20px 0 10px 0;
}
.main-container .main-content .separation .summary h3 {
  font-size: 3rem;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.main-container .main-content .separation .summary p {
  font-size: 1.4rem;
  color: grey;
  margin-bottom: 10px;
}
.main-container .main-content .separation .skills {
  width: 450px;
  height: 200px;
  margin: 20px 0 10px 0;
}
.main-container .main-content .separation .skills h3 {
  font-size: 3rem;
  padding-bottom: 10px;
}
.main-container .main-content .separation .skills ul {
  margin: 10px 0 10px 0;
  border: solid 1px lightgrey;
}
.main-container .main-content .separation .skills ul li {
  font-size: 1.4rem;
  color: grey;
  padding-left: 10px;
  padding-top: 10px;
  text-align: left;
  width: 100%;
  height: 40px;
  border-bottom: solid 1px lightgrey;
}
@media (max-width: 500px) {
  .main-container .main-content .separation {
    flex-direction: column;
    height: 550px;
  }
}
.main-container .main-content .work-history {
  width: 100%;
  height: 300px;
  /* phone view */
}
.main-container .main-content .work-history h3 {
  font-size: 3rem;
  padding-bottom: 10px;
}
.main-container .main-content .work-history table tr:nth-child(even) {
  background-color: #eee;
}
.main-container .main-content .work-history table {
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
  width: 100%;
  height: 200px;
}
.main-container .main-content .work-history td {
  font-size: 2rem;
  text-align: left;
  color: grey;
}
.main-container .main-content .work-history th {
  font-size: 2rem;
  padding-top: 10px;
  text-align: left;
}
@media (max-width: 500px) {
  .main-container .main-content .work-history {
    height: 400px;
  }
}
.main-container footer {
  width: 100%;
  height: 50px;
  background: grey;
}
.main-container footer p {
  font-size: 1.4rem;
  color: white;
  text-align: center;
  padding-top: 10px;
}
